*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#div_one{
    background-color: black;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 60px;
    grid-template-areas: 
    "he he"
    "pi ar"
    "fo fo";
}
#ar_head{
    color: white;
    font-size: 3rem;
}
#fact_t{
    color: white;
    font-size: 1.4rem;
    margin: 10px;
}
#fact_one{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.head{
    background-color: rgb(255, 102, 0);
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
}
#fram{
    grid-area: pi;
}
#fact_one{
    grid-area: ar;
}
.foo{
    grid-area: fo;
    background-color: grey; 
}
#bild_h{
    width: auto;
    height: 65vh;
}
#fram{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_m{
    background-color: black;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 60px;
    grid-template-areas: 
    "he"
    "me"
    "fo";
}
#div_mm{
    grid-area: me;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: none;
    background-image: url(img/Bild_pa_resutrang.jp);
}
#div_l{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 60px;
    grid-template-areas: 
    "he"
    "ma"
    "fo";
}
#div_l{
    grid-area: ma;
}
.m_item{
    border-radius: 25px;
    width: 60vw;
    height: minmax(500px 50vh);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid white;
    margin: 20px;
    background-color: black;
}
.dish_pic{
    margin: 10px;
    height: 45vh;
    border-radius: 5%;
}
.dish_a{
    font-size: 1.25rem;
    color: white;
    margin: 1.25rem;
}
.menu_t{

}
.menu_head{
    color:white;
    font-size: 2.5rem;
    margin: 1.25rem;
}