*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font: Cambria;
}
#div_one{
    
    background-color: black;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 2fr 3fr 4rem;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "he he he"
    "pi ar ba"
}
#margin{
    grid-area: ba;
}
#ar_head{
    color: white;
    font-size: 3rem;
}
#fact_t{
    color: white;
    font-size: 1.4rem;
    margin: 10px;
}
#try_again{
    grid-area: pi;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bild_h{
    border-radius: 5%;
}
#fact_one{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
#section_h{
    grid-area: ar;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text_h{
    color: white;
    margin: 1rem;
}
#article_head{
    font-size: 2.2rem;
}
#article_text{
    font-size: 1.25rem;
}
.head{
    background-color: rgb(255, 102, 0);
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    font-size: 1.25rem;
}
.foo{
    grid-area: fo;
    background-color: grey; 
}
#bild_h{
    width: auto;
    height: 65vh;
}
#fram{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_m{
    background-color: black;
    display: grid;
    width: auto;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "he"
    "me";
}
#div_mm{
    grid-area: me;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: none;
    background-image: url("img/Bild_pa_resutrang.jp");
    background-position: center;
    height: 100%;
}
#div_l{
    overflow: hidden;
    background-color: black;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "he"
    "ma";
}
.map_t{
    color: white;
}
#header_l{
    height: 70px;
    width: 100vw;
}
#pic_f{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: fr;
}
#f_pic{
    height: 80vh;
    margin: 60px;
    border-radius: 5%;
}
#div_lul{
    grid-area: mu;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#g_map{
    height: 80vh;
    margin: 60px;
    border-radius: 5%;
}
.map_t{
    font-size: 1.75rem;
}
#div_ll{
    grid-area: ma;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "mu fr";
}
.m_item{
    border-radius: 25px;
    width: 60vw;
    height: minmax(500px, 50vh);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid white;
    margin: 20px;
    background-color: black;
}
.dish_pic{
    margin: 10px;
    height: 45vh;
    border-radius: 5%;
}
.dish_a{
    font-size: 1.25rem;
    color: white;
    margin: 1.25rem;
}
.menu_head{
    color:white;
    font-size: 2.5rem;
    margin: 1.25rem;
}
.logo{
    height: 60px;
    width: auto;
}