*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#div_one{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 60px;
    grid-template-areas: 
    "he he"
    "pi ar"
    "fo fo";
}
.head{
    background-color: rgb(255, 102, 0);
    grid-area: he;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90vw;
}
#fram{
    grid-area: pi;
}
#fact_one{
    grid-area: ar;
}
.foo{
    grid-area: fo;
    background-color: grey; 
}
#bild_h{
    width: auto;
    height: 65vh;
}
#fram{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_m{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 60px;
    grid-template-areas: 
    "he"
    "me"
    "fo";
}
#div_mm{
    grid-area: me;
    display: felx;
}
#div_l{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 60px;
    grid-template-areas: 
    "he"
    "ma"
    "fo";
}
#div_l{
    grid-area: ma;
}